@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	font-size:11.5px;
	color:#7A7A7A;
	background-color: #e6f6fb;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top;
}
.bluetext{
    font-family:Arial, Helvetica, sans-serif.;
	font-size:12px;
	color:#007bc8;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.headernavigation{
    font-family:Arial, Helvetica, sans-serif.;
	font-size:11.5px;
	color:#4D4D4D;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.headernavigation:hover{
    font-family:Arial, Helvetica, sans-serif.;
	font-size:11.5px;
	color:#EF7B11;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: underline;
}
.bluebordercolor{
	border: 1px solid #3677B7;
	background-image: url(../images/search-bg-slider.gif);
	background-repeat: repeat-x;
	background-color: #e6f6fb;
	background-position: left top;
}
.bluebordercolor1{
	border: 1px solid #3677B7;
	background-color: #ffffff;
	background-position: left top;
}

.smalltext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5C5C5C;
	font-weight: normal;
	text-decoration: none;
}
.smalltext:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5C5C5C;
	font-weight: normal;
}
.formstyle{
	border: 1px solid #9C9383;
	text-indent: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #7A7A7A;
	width: 180px;
}
.hotel-form{
	border: 1px solid #D4D0C8;
	text-indent: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #7A7A7A;
	width: 160px;
}
.small-whiteboldtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 28px;
	text-indent: 10px;
}
.formstyle2{
	border: 1px solid #B7B0A4;
	text-indent: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #7A7A7A;
	width: 100px;
}
.borderhashcolor{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e1e1e1;
}
.blackboldtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5C5C5C;
	text-decoration: none;
}
.blackboldtext:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.orangcolortext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12.5px;
	font-weight: bold;
	color: #D96700;
	text-decoration: none;
}
.orangcolortext:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12.5px;
	font-weight: bold;
	color: #D56500;
	text-decoration: underline;
}
.smallorangcolortext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #D96700;
	text-decoration: none;
}
.blueboldtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0555AF;
	text-decoration: none;
}
.blueboldtext:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ED7100;
	text-decoration: underline;
}
.e-mailnews{
	width: 115px;
	height: 15px;
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6E6E6E;
	text-indent: 5px;
}
.whiteboldtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 28px;
	text-indent: 10px;
}
.hotels text color{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.hotels text color:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0555AF;
	text-decoration: none;
}
.maintableborder{
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #a9a9a9;
	border-left-color: #a9a9a9;
	background-color: #FFFFFF;
}
.destinationslink{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	line-height: 20px;
	color: #5c5c5c;
	text-decoration: none;
}
.destinationslink:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #ED7100;
	text-decoration: underline;
}
.smallwhitetext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.smallwhitelinks{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.smallwhitelinks:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
}
.whitetext{
	color: #FFFFFF;
}
.holiday-bg{
	background-image: url(../images/Holidays/bg-pannel-hover.gif);
}
.holiday-bg:hover{
	background-image: url(../images/Holidays/bg-pannel.gif);
}
.bg-pannel{
	background-image: url(../images/bg-pannel.gif);
}
.bg-pannel:hover{
	background-image: url(../images/bg-pannel-hover.gif);
}
.textalign{
	text-align: justify;
}
.contact-style{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #666666;
	text-indent: 5px;
	width: 200px;
	height: 20px;
	border: 1px solid #D4D0C8;
}
.contact-style2{
	border: 1px solid #B7B0A4;
	text-indent: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #7A7A7A;
	width: 200px;
}
.redtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ED7100;
	font-weight:bold;
}
.redboldtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #DD0000;
	font-weight:bold;
}
.HotelsBoldtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #007BC8;
	font-weight:bold;
}
.hotels-bg{
	background-image: url(../images/Hotels/hotels-hover.gif);
}
.hotels-bg:hover{
	background-image: url(../images/Hotels/hotels-bg.gif);
}
.hotels-landing{
	background-image: url(../images/Hotels/hotels-slider.gif);
}
.hotels-landing:hover{
	background-image: url(../images/Hotels/hotel-slider-hover.gif);
}
.landing-page{
background-image:url(../images/landing-page.gif)
}
.landing-page:hover{
background-image:url(../images/landing-page-hover.gif)
}
.reg-form{
	margin-left: 5px;
	border: 1px solid #FFFFFF;
	width: 145px;
}
#cssmenu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:inline;
	height:39px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-image: url(../images/OFF.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#cssmenu li{
	display:inline;
	float:left;
	margin:0;
	pading:0;
}
#cssmenu li a{
	display:inline;
	float:left;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	height:39px;
	padding-top: 12px;
	padding-right: 18px;
	padding-bottom: 0;
	padding-left: 18px;
	background-color: transparent;
	background-image: url(../images/DIVIDER.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#cssmenu li a:hover{
	background-color: transparent;
	background-image: url(../images/HOVER.gif);
	background-repeat: repeat-x;
	background-position: right top;
}
.hover-color{
	background-color: #E8E6E1;
}
.hover-color:hover{
	background-color: #F5F5F5;
}
/*added by feroz*/
.ui-datepicker-trigger {position:relative;top:6px;left:7px;cursor:pointer;}
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background: white url('images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
.formstyle2_input{
	border: 1px solid #B7B0A4;
	text-indent: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #7A7A7A;
	width: 92%;
}
.select_elew {width:70%;}
	.carrier {
		font-family: verdana;
		font-size: 11px;
		background-color: #FFF;
	}
	.midd_main{
		width:990px;
		margin:6px 0px 0px 0px;
		padding:0px 0px 4px 0px;
		background:#FFF;
	}
	.heading{
		font-size:11px;
		color:#333;
		font-weight:bold; 
		background:#ccc;
		border-bottom:3px solid #999;
		height:27px;
	}
	.heading td {
		border-right:1px solid #999;
		border-top:1px solid #999;
	}
	.maintable, .passtable {
		border:1px solid #CCC;
	}
	table.maintable th {
		background-color:#666;
		border:1px solid #666;
		text-align:left;
		color:#fff;
		font-weight:bold;
	}
	#tag_header {
		padding:5px;
		background-color:#666;
		margin:10px;
		border:1px dotted #CCC;
		border-bottom:2px solid #665;
	}
	#tag_header span, table.maintable th span, .passtable th span{
		color:#FFF;
		font-weight:bold;
	}
	#tag_header span.etype {
		font-weight:normal;
		font-size:10px;
	}
	.passtable th {
		background-color:#666;
		border:1px solid #666;
		text-align:left;
		color:#fff;
		font-weight:bold;
	}
	.boldtxt {
		font-weight:bold;
	}
	.passtable td {
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
	}
.main {
	font-family: verdana;
	font-size: 11px;
	background-color:#FFF;
	font-weight: bold;
}
.carrier {
	font-family: verdana;
	font-size: 11px;
	background-color: #FFF;
}
.midd_main{
	width:990px;
	margin:6px 0px 0px 0px;
	padding:0px 0px 4px 0px;
	background:#FFF;
}
.heading{
	font-size:11px;
	color:#FFF;
	font-weight:bold; 
	background:#333 url(images/menubg.png) repeat-x scroll 0 0;
	border-bottom:4px solid #CCC;
	height:27px;
}
.heading td {
	border-right:1px solid #CCC;
	border-top:1px solid #CCC;
}
#fareTable {
	width:100% !important;
}
/*menu*/
#cssmenu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:39px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	background-color: transparent;
	background-image: url(../images/OFF.gif);
	background-repeat: repeat-x;
}
#cssmenu li{
	display:block;
	float:left;
	margin:0;
	pading:0;}
#cssmenu li a{
	display:block;
	float:left;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	height:24px;
	background-color: transparent;
	background-image: url(../images/DIVIDER.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 12px;
	padding-right: 18px;
	padding-bottom: 0;
	padding-left: 18px;
	}
#cssmenu li a:hover{
	background-color: transparent;
	background-image: url(../images/HOVER.gif);
	background-repeat: repeat-x;
	}
/*[/menu]*/
.managebookingstyle{
	margin-left: 5px;
	border: 1px solid #FFFFFF;
}
.formstyle_label{
	position:relative;
	top:3px;
}
.red_bold_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	text-decoration: none;
}
h1.smallorangcolortext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #D96700;
	text-decoration: none;
	margin:2px 0px 3px 0px;
}
p.text_p {
	margin:2px 0 10px;
	text-align:justify;
	line-height:17px;
}
